

<html>
<head>

</head>
<body>
<section class="main">
		
		<table>
			
			<tr>
				<td><b>Rules</b></td>
				
			</tr>
			
			<tr>
				<td>\<b>Full Name:</b></td>
				<td>1.You have to submit your name which will contain atleast two words.</br>2.you are not allowed to submit empty space .</br> 3.You are not allowed to use any special characters</td>
			
			</tr>
			 <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr>
				<td><b>Nick Name:</b></td>
				<td>1.You have to submit a unique name,if your name is already in the system then it will be notified </br>2.you are not allowed to submit empty space.</br> 3.You are not allowed to use more than 1 word.</td>
			</tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr>
				<td><b>Password:</b></td>
				<td>1.You have to submit atleast five characters.</br>2.you are not allowed to submit empty space . </td>
			
			</tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr>
				<td><b>Gender:</b></td>
				<td>1.You have to Choose select your gender. </td>
			</tr>
			<tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
			<tr>
				<td><b>Education:</b></td>
				<td>1.You have to select your Compleated course.</br>2.If you select HSC,then must be fill up SSC also.</td>
			</tr>
			
			
			
		</table>
		
		
		<a href="registration.php"><h3>next</h3></a>
</body>

</html>
